// These two colors are the vibrant background colors you see throughout the design and are applied as a linear gradient:

$Light-Magenta: hsl(293, 100%, 63%);
$Light-Violet: hsl(264, 100%, 61%);

// ### Secondary

$White: hsl(0, 0%, 100%);
$msg-bg:rgba(237, 228, 245, 1);
// (app background)
$Light-Grayish-Violet : hsl(270, 20%, 96%);
// (submit button background)
$Very-Dark-Desaturated-Violet : hsl(271, 36%, 24%);
// (radio button outline)
$Very-Light-Magenta : hsl(289, 100%, 72%);